:root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;

}

body{
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    width: auto;
    height: 50vw;
    justify-content: center;
    align-items: center;
    background-image: url(bg.png);
}

body.correct {
    --hue :var(--hue-correct);

}

body.wrong {
    --hue :var(--hue-wrong)
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 10px;
    margin: 20px 0;

}

.btn {
    --hue :var(--hue-neutral);
    background-color: #912BBC;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
    cursor: pointer;
}



.start-btn,
.next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;

}

.hide {
    display: none;
 }

.question, h2 {
    text-align: center;
}
